.container__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.card {
  border-radius: 0.6rem;
  background-color: var(--header);
  height: 400px;

  &__container {
    width: 100%;
  }

  &__image {
    height: 190px;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
    object-fit: cover;
  }
  &__information {
    padding: 1rem;
  }
}
